Language: Cpp
BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"pch.h"$'
    Priority: 0
  - Regex: '^".*"$'
    Priority: 1
  - Regex: '^<.*\.h>$' # Third-party library headers
    Priority: 2
  - Regex: '^<.*>$'    # STL headers
    Priority: 3
